<footer class="region auto-grid page-footer">
    <div>
        {{ site.name }}
    </div>

    <div>
        Graphic designer based in London, UK, specialising in print and digital book design.
    </div>

    <div>
        <ul>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/colophon">Colophon</a></li>
        </ul>
    </div>

    <div>
        <p class="footer-item"><a href="#">j@jpelham.co.uk</a></p>
        <p><a href="#">Instagram</a></p>
        <p><a href="#">LinkedIn</a></p>
    </div>

    <div class="fullwidth">
        {% include "svg/logo.svg" %}
    </div>

</footer>